ion-title {
    font-weight: bold;
    color: #ffe81f; 
    text-align: center;
    background-color: #000 ;
  }
  
  ion-card {
    background-color: #000; 
    color: #fff; 
  }
  
  ion-card-title {
    font-weight: bold;
    color: #ffe81f; 
    font-size: 1.5em;
  }
  
  ion-label {
    font-weight: bold;
    color: #fff;
  }
  
  ion-text {
    color: black; 
  }
  
  
  ion-menu-button {
    --color: #ffe81f; 
  }
  
  ion-toolbar {
    --background: #000; 
    --ion-color-base: #fff; 
  }