<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>misfavs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="misfavs != undefined">
    <ion-item  *ngFor="let pj of misfavs">
      <ion-card>
        <ion-card-header>
          <ion-card-title [routerLink]="['/listado-page', pj.id]">{{pj.name}}</ion-card-title>
          <ion-card-subtitle>{{pj.birth_year}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card> 
      
    </ion-item>
  </ion-list>
</ion-content>
