ion-list-header {
    color: #ffe81f; 
    font-weight: bold;
    padding: 16px;
  }
  ion-item {
    padding: 12px 16px;
    font-weight: bold;
    color: #fff; /* Mantener el color del texto blanco */
  }
  
  ion-item:hover {
    background-color: #e0e0e0;
    color: #fff; /* Mantener el color del texto blanco al pasar el ratón */
  }
  
  
  /* Estilos para el icono en los ítems del menú */
  ion-icon {
    color: #ffe81f; /* Color amarillo para los iconos */
  }
  
  /* Estilos para el fondo y contenido del menú */
  ion-menu {
    --ion-background-color: #000; /* Fondo negro para el menú */
    color: #d8d52e; /* Texto blanco para el menú */
  }
  
